
@keyframes animate{

    0%{
        background-position-x: 0rem;
    }

    100%{
        background-position-x: 100rem;
    }

}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .image{
    flex:1 1 40rem;
}

.about .image img{
    height:65vh;
    width:100%;
}

.about .content{
    flex:1 1 40rem;
}

.about .content h3{
    font-size: 3.5rem;
    color:#666;
}

.about .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}


section{
    min-height: 100vh;
    padding:1rem 7%;
    padding-top:6rem;
}

.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:#fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}
