<!-- course section starts  -->

<section class="course"  id="course">
  <h1 class="heading"style="padding-top: 150px;">our popular courses</h1>

  <div class="box-container">

      <div class="box">
          <img src="assets/Images/developing.jpg" alt="">
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn front end development</a>
              <p>Front End DevelopmentIt is also referred to as the ‘client side’ of the application.
                   it includes text colors and styles, images, graphs and tables, buttons, colors, and navigation menu.</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
              <div style="text-align: center;"><a href="#"><button class="btn" >Start</button></a></div>
          </div>
      </div>

      <div class="box">
          <img src="assets/Images/download.jpg" alt="">
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn NodeJS</a>
              <p>Node.js is a server-side platform built on Google Chrome's JavaScript Engine Node.js is an open source, cross-platform runtime environment for developing server-side and networking applications.</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
              <div style="text-align: center;"><a href="#"><button class="btn" >Start</button></a></div>

          </div>
      </div>

      <div class="box">
          <img src="assets/Images/pretty.jpg" alt="">
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn MySQL Database</a>
              <p>SQL is a language to operate databases; it includes database creation, deletion, fetching rows, modifying rows, etc. SQL is an ANSI. sql is  computer language for storing stored in a relational database</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
              <div style="text-align: center;"><a href="#"><button class="btn" >Start</button></a></div>

          </div>
      </div>

      <div class="box">
          <img src="assets/Images/web.jpg" alt="">
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn Angular</a>
              <p>Angular 8 is an open-source, client-side TypeScript based JavaScript framework. It is written in TypeScript and complied into JavaScript. Angular 8 is used to create dynamic web applications. </p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
              <div style="text-align: center;"><a href="#"><button class="btn" >Start</button></a></div>

          </div>
      </div>

      <div class="box">
          <img src="assets/Images/woman.jpg" alt="">
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn ASP .Net MVC</a>
              <p>It is a web framework designed and developed by Microsoft. It is used to develop websites, web applications and web services. It provides fantastic integration of HTML, CSS and JavaScript.</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
              <div style="text-align: center;"><a href="#"><button class="btn" >Start</button></a></div>

          </div>
      </div>

      <div class="box">
          <img src="assets/Images/frontend.jpg" alt="">
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn Python</a>
              <p>Python is currently the most widely used multi-purpose, high-level programming language. Python allows programming in Object-Oriented and Procedural.Python is a popular programming language.</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
              <div style="text-align: center;"><a href="#"><button class="btn" >Start</button></a></div>

          </div>
      </div>

  </div>

  </section> 

  <!-- course section ends -->


   <!-- <div class="table-responsive-sm">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">hour</th>
               </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let Patient of appointment">
                <td>{{Patient.id}}</td>
                <td>{{Patient.name}}</td>
                <td>{{Patient.hour}}</td>
                
                
            </tr>
        </tbody>
    </table>
    
</div>  -->

<!-- <div class="container p-5">
 
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">subject</th>
          <th scope="col">duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          
          <td>{{user.id}}</td>
          <td>{{user.subject}}</td>
          <td>{{user.duration}}</td>
        </tr>
      
      </tbody>
    </table>
    
   
    </div> -->