<!-- course section starts  -->

<section class="course" id="course">

  <h1 class="heading">our popular courses</h1>

  <div class="box-container">

      <div class="box">
          <img src="assets/Images/developing.jpg" alt="">
          <h3 class="price">$50</h3>
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn front end development</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
          </div>
      </div>

      <div class="box">
          <img src="assets/Images/download.jpg" alt="">
          <h3 class="price">$50</h3>
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn front end development</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
          </div>
      </div>

      <div class="box">
          <img src="assets/Images/pretty.jpg" alt="">
          <h3 class="price">$50</h3>
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn front end development</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
          </div>
      </div>

      <div class="box">
          <img src="assets/Images/web.jpg" alt="">
          <h3 class="price">$50</h3>
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn front end development</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
          </div>
      </div>

      <div class="box">
          <img src="assets/Images/woman.jpg" alt="">
          <h3 class="price">$50</h3>
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn front end development</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
          </div>
      </div>

      <div class="box">
          <img src="assets/Images/frontend.jpg" alt="">
          <h3 class="price">$50</h3>
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
              </div>
              <a href="#" class="title">learn front end development</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non debitis!</p>
              <div class="info">
                  <h3> <i class="far fa-clock"></i> 2 hours </h3>
                  <h3> <i class="far fa-calendar-alt"></i> 6 months </h3>
                  <h3> <i class="fas fa-book"></i> 12 modules </h3>
              </div>
          </div>
      </div>

  </div>

  </section>

  <!-- course section ends -->
