
<!-- header section starts  -->

<header>

  <div id="menu" class="fas fa-bars"></div>

  <a href="#" class="logo"><i class="fas fa-user-graduate"></i>LOGO</a>

  <nav class="navbar">
      <ul>
          <li><a class="active" href="#home">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#course">course</a></li>
          <li><a href="#teacher">teacher</a></li>
          <li><a href="#contact">contact</a></li>
      </ul>
  </nav>

  <div id="login" class="fas fa-user-circle"></div>

</header>

<!-- header section ends -->

<!-- login form  -->

<div class="login-form">

  <form action="">
      <h3>login</h3>
      <input type="email" placeholder="username" class="box">
      <input type="password" placeholder="password" class="box">
      <p>forget password? <a href="#">click here</a></p>
      <p>don't have an account? <a href="#">register now</a></p>
      <input type="submit" class="btn" value="login">
      <i class="fas fa-times"></i>
  </form>

</div>
<div><app-home></app-home></div>
<app-about></app-about>
<app-course></app-course>
<app-teacher></app-teacher>
<app-contact></app-contact>
<app-login></app-login>

