.teacher{
  text-align: center;
  background:url(../images/teachers.jfif) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.teacher p{
  font-size: 1.8rem;
  color:#666;
  width:65rem;
  margin:1rem auto;
}
